USE [master]
GO
/****** Object:  Database [GoSmartCabinet]    Script Date: 14/01/2020 23:27:08 ******/
CREATE DATABASE [GoSmartCabinet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GoSmartCabinet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS2017\MSSQL\DATA\GoSmartCabinet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GoSmartCabinet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS2017\MSSQL\DATA\GoSmartCabinet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GoSmartCabinet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GoSmartCabinet]
GO
/****** Object:  Table [dbo].[Gabinetes]    Script Date: 14/01/2020 23:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gabinetes](
	[ID_GAB] [int] IDENTITY(1,1) NOT NULL,
	[GAB_BARCODE] [varchar](550) NULL,
	[GAB_FECHA] [nchar](10) NULL,
	[GAB_ESTADO] [bit] NOT NULL,
 CONSTRAINT [PK_Gabinetes] PRIMARY KEY CLUSTERED 
(
	[ID_GAB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Herramientas]    Script Date: 14/01/2020 23:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Herramientas](
	[ID_HER] [int] IDENTITY(1,1) NOT NULL,
	[HER_NUMERO] [varchar](150) NULL,
	[HER_NOMBRE] [varchar](100) NULL,
	[HER_DESCRIPCION] [varchar](550) NULL,
	[HER_FANULA] [varchar](250) NULL,
	[HER_FECINICIO] [date] NULL,
	[HER_FECVENCIMIENTO] [date] NULL,
	[HER_ESTADO] [bit] NOT NULL,
 CONSTRAINT [PK_Herramientas] PRIMARY KEY CLUSTERED 
(
	[ID_HER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingresos]    Script Date: 14/01/2020 23:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingresos](
	[ID_ING] [int] IDENTITY(1,1) NOT NULL,
	[ID_USU] [int] NULL,
	[ID_TAG] [int] NULL,
	[ING_FECHA] [date] NULL,
	[ING_HORA] [time](7) NULL,
 CONSTRAINT [PK_Ingresos] PRIMARY KEY CLUSTERED 
(
	[ID_ING] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 14/01/2020 23:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[ID_TAG] [int] IDENTITY(1,1) NOT NULL,
	[ID_GAB] [int] NULL,
	[TAG_EPC] [varchar](550) NULL,
	[TAG_TID] [varchar](550) NULL,
	[TAG_ESTADO] [bit] NOT NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[ID_TAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagsHerramientas]    Script Date: 14/01/2020 23:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagsHerramientas](
	[ID_HER] [int] NOT NULL,
	[ID_TAG] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 14/01/2020 23:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID_USU] [int] IDENTITY(1,1) NOT NULL,
	[ID_TUSU] [int] NOT NULL,
	[USU_NOMBRE] [varchar](150) NULL,
	[USU_RFID] [varchar](150) NULL,
	[USU_AREA] [varchar](50) NULL,
	[USU_FOTO] [varbinary](max) NULL,
	[USU_ESTADO] [bit] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[ID_USU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioTipos]    Script Date: 14/01/2020 23:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioTipos](
	[ID_TUSU] [int] IDENTITY(1,1) NOT NULL,
	[TUSU_NOMBRE] [varchar](150) NULL,
	[TUSU_ESTADO] [bit] NOT NULL,
 CONSTRAINT [PK_UsuarioTipos] PRIMARY KEY CLUSTERED 
(
	[ID_TUSU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Gabinetes] ADD  CONSTRAINT [DF_Gabinetes_GAB_ESTADO]  DEFAULT ((1)) FOR [GAB_ESTADO]
GO
ALTER TABLE [dbo].[Herramientas] ADD  CONSTRAINT [DF_Herramientas_HER_ESTADO]  DEFAULT ((1)) FOR [HER_ESTADO]
GO
ALTER TABLE [dbo].[Tags] ADD  CONSTRAINT [DF_Tags_TAG_ESTADO]  DEFAULT ((1)) FOR [TAG_ESTADO]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_USU_ESTADO]  DEFAULT ((1)) FOR [USU_ESTADO]
GO
ALTER TABLE [dbo].[UsuarioTipos] ADD  CONSTRAINT [DF_UsuarioTipos_TUSU_ESTADO]  DEFAULT ((1)) FOR [TUSU_ESTADO]
GO
ALTER TABLE [dbo].[Ingresos]  WITH CHECK ADD  CONSTRAINT [FK_Ingresos_Tags] FOREIGN KEY([ID_TAG])
REFERENCES [dbo].[Tags] ([ID_TAG])
GO
ALTER TABLE [dbo].[Ingresos] CHECK CONSTRAINT [FK_Ingresos_Tags]
GO
ALTER TABLE [dbo].[Ingresos]  WITH CHECK ADD  CONSTRAINT [FK_Ingresos_Usuarios] FOREIGN KEY([ID_USU])
REFERENCES [dbo].[Usuarios] ([ID_USU])
GO
ALTER TABLE [dbo].[Ingresos] CHECK CONSTRAINT [FK_Ingresos_Usuarios]
GO
ALTER TABLE [dbo].[Tags]  WITH CHECK ADD  CONSTRAINT [FK_Tags_Gabinetes] FOREIGN KEY([ID_GAB])
REFERENCES [dbo].[Gabinetes] ([ID_GAB])
GO
ALTER TABLE [dbo].[Tags] CHECK CONSTRAINT [FK_Tags_Gabinetes]
GO
ALTER TABLE [dbo].[TagsHerramientas]  WITH CHECK ADD  CONSTRAINT [FK_TagsHerramientas_Herramientas] FOREIGN KEY([ID_HER])
REFERENCES [dbo].[Herramientas] ([ID_HER])
GO
ALTER TABLE [dbo].[TagsHerramientas] CHECK CONSTRAINT [FK_TagsHerramientas_Herramientas]
GO
ALTER TABLE [dbo].[TagsHerramientas]  WITH CHECK ADD  CONSTRAINT [FK_TagsHerramientas_Tags] FOREIGN KEY([ID_TAG])
REFERENCES [dbo].[Tags] ([ID_TAG])
GO
ALTER TABLE [dbo].[TagsHerramientas] CHECK CONSTRAINT [FK_TagsHerramientas_Tags]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_UsuarioTipos] FOREIGN KEY([ID_TUSU])
REFERENCES [dbo].[UsuarioTipos] ([ID_TUSU])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_UsuarioTipos]
GO
USE [master]
GO
